<!-- 

   game-board.component.html

<div class="game-board">
    <app-card *ngFor="let card of cards; let i = index"
         [value]="card.imagepath"
         [isFlipped]="flippedCardIndices.includes(i)"
         [isMatched]="card.isMatched"
         (cardClicked)="onCardClicked(i)">
    </app-card>
  </div> -->


  <div >
  <div class="button-container">
    <button (click)="gameMode6()">6 Cards</button>
    <button (click)="gameMode12()">12 Cards</button>
  </div>
  <div class="cards">
  <app-card *ngFor="let card of cards; let i = index"
    [value]="card.imagepath"
    [isFlipped]="flippedCardIndices.includes(i)"
    [isMatched]="card.isMatched"
    (cardClicked)="onCardClicked(i)">
  </app-card>
</div>
  <div *ngIf="gameCompleted" class="info">
    <p>Game Completed</p>
    <p>Moves : {{ moves }}</p>
    <p>Misses : {{ misses }}</p>
    <p>Accuracy : {{ accuracy }}</p>
  </div>
</div>

  
  